{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal subtitle">Please sign in</h1>
        <div class="field">
            <label for="inputUsername" class="label">Username</label>
            <div class="control">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                       class="input is-primary"
                       required autofocus>
            </div>
        </div>
        <div class="field">
            <label for="inputPassword" class="label">Password</label>
            <div class="control">
                <input type="password" name="password" id="inputPassword" class="input is-primary" required>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-rounded is-primary" type="submit">
                    Sign in
                </button>
            </div>
        </div>
    </form>
{% endblock %}
