<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar  is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('main') }}">
            <img style="max-width: 30px;"
                 src="https://i0.wp.com/phpmagazine.net/wp-content/uploads/2018/12/symfony-logo-png-transparent.png?fit=2400%2C2410"
                 alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="navbar-item" href="{{ path('post') }}">
                    Posts
                </a>
            {% endif %}
        </div>

    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="buttons">
                    <a class="button is-light" href="{{ path('app_logout') }}">
                        Logout
                    </a>
                </div>
            {% else %}
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('register') }}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ path('app_login') }}">
                        Log in
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

</nav>
<section class="section">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</section>
{% block javascripts %}{% endblock %}
</body>
</html>
